.mapa__centrar-mapa {
    margin: 0 auto;
    display: block;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
   
}

.login__form-items {
    margin-top: 12px;
}

main {
    background: #000;
}